services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: ${DOCKER_CONTAINER_NAME_BE:-skeleton_be}
    env_file: .env
    healthcheck:
      interval: 30s
      retries: 3
      test: [ "CMD", "curl", "-f", "http://localhost:80/up" ]
      timeout: 5s
    hostname: ${DOCKER_CONTAINER_NAME_BE:-skeleton_be}
    image: ${DOCKER_CONTAINER_NAME:-skeleton}:latest
    networks:
      - mysql
      - nginx
      - redis
    restart: unless-stopped
    volumes:
      - ./storage:/app/storage
      - ./public/sitemaps:/app/public/sitemaps

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    container_name: ${DOCKER_CONTAINER_NAME_FE:-skeleton_fe}
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1" ]
      interval: 30s
      timeout: 5s
      start_period: 10s
      retries: 3
    hostname: ${DOCKER_CONTAINER_NAME_FE:-skeleton_fe}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - nginx
    #ports:
    #  - '${DOCKER_PORT_FE:-80}:80'
    restart: unless-stopped

  scheduler:
    command: php artisan schedule:work
    container_name: ${DOCKER_CONTAINER_NAME_SCHEDULER:-skeleton_scheduler}
    depends_on:
      backend:
        condition: service_healthy
    env_file: .env
    hostname: ${DOCKER_CONTAINER_NAME_SCHEDULER:-skeleton_scheduler}
    image: ${DOCKER_CONTAINER_NAME:-skeleton}:latest
    networks:
      - mysql
      - redis
    restart: unless-stopped
    volumes:
      - ./storage:/app/storage
      - ./public/sitemaps:/app/public/sitemaps

  worker:
    command: php artisan horizon
    container_name: ${DOCKER_CONTAINER_NAME_WORKER:-skeleton_worker}
    depends_on:
      backend:
        condition: service_healthy
    env_file: .env
    healthcheck:
      interval: 30s
      retries: 3
      test: [ "CMD-SHELL", "php artisan horizon:status || exit 1" ]
      timeout: 5s
    hostname: ${DOCKER_CONTAINER_NAME_WORKER:-skeleton_worker}
    image: ${DOCKER_CONTAINER_NAME:-skeleton}:latest
    networks:
      - mysql
      - redis
    restart: unless-stopped
    stop_grace_period: 60s
    stop_signal: SIGTERM
    volumes:
      - ./storage:/app/storage
      - ./public/sitemaps:/app/public/sitemaps

networks:
  mysql:
    external: true
    name: mysql
  nginx:
    external: true
    name: nginx
  redis:
    external: true
    name: redis
