services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: ${DOCKER_CONTAINER_NAME_BE:-skeleton}
    networks:
      - mysql
      - nginx
    #ports:
    #  - '${DOCKER_PORT_BE:-80}:80'
    restart: unless-stopped
    tty: true
    volumes:
      - .env:/app/.env:ro
      - ./storage:/app/storage
      - ./docker/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    container_name: ${DOCKER_CONTAINER_NAME_FE:-skeleton_fe}
    networks:
      - nginx
    #ports:
    #  - '${DOCKER_PORT_FE:-80}:80'
    restart: unless-stopped
    tty: true

  scheduler:
    build:
      context: .
      dockerfile: ./Dockerfile-scheduler
    container_name: ${DOCKER_CONTAINER_NAME_SCHEDULER:-skeleton_scheduler}
    healthcheck:
      test: [ "CMD-SHELL", "test $(find /app/storage/framework/scheduler-heartbeat -mmin -1 | wc -l) -eq 1 || exit 1" ]
      interval: 1m        # Cek setiap 1 menit
      timeout: 10s        # Jika cek lemot > 10 detik, anggap gagal
      retries: 3          # Jika gagal 3x berturut-turut, restart container
      start_period: 30s   # Beri waktu 30 detik saat start awal sebelum mulai nge-cek
    networks:
      - mysql
    restart: unless-stopped
    tty: true
    volumes:
      - .env:/app/.env:ro
      - ./docker/supervisord.conf:/etc/supervisor/supervisord.conf:ro
      - ./docker/laravel-scheduler.conf:/etc/supervisor/conf.d/laravel-scheduler.conf:ro
      - ./storage:/app/storage
      - ./docker/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:ro

  worker:
    build:
      context: .
      dockerfile: ./Dockerfile-worker
    container_name: ${DOCKER_CONTAINER_NAME_WORKER:-skeleton_worker}
    healthcheck:
      test: [ "CMD-SHELL", "php /app/artisan queue:monitor default --max=100 || exit 1" ]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    hostname: ${DOCKER_CONTAINER_NAME:-skeleton_worker}
    networks:
      - mysql
    restart: unless-stopped
    stop_grace_period: 60s
    tty: true
    volumes:
      - .env:/app/.env:ro
      - ./docker/supervisord.conf:/etc/supervisor/supervisord.conf:ro
      - ./docker/laravel-worker.conf:/etc/supervisor/conf.d/laravel-worker.conf:ro
      - ./storage:/app/storage
      - ./docker/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:ro

networks:
  mysql:
    external: true
    name: mysql
  nginx:
    external: true
    name: nginx
