.el-form-item__error {
  position: static !important;
}

.el-form-item__label {
  align-items: center !important;
  color: var(--tw-gray-900) !important;
  font-weight: 500 !important;
  font-size: 0.8125rem !important;
  line-height: 1.125rem !important;
  /* margin-bottom: 0.25rem !important; */
}
